---
import Github from "../ui/svg/icons/github-icon.astro"
import Link from "../ui/svg/icons/link-icon.astro"
import OssLink from "./oss-link.astro"

type Props = {
  title: string
  description: string
  body: string
  link_demo?: string
  link_repository?: string
}

const { title, description, body, link_demo, link_repository } = Astro.props
const imageMap: Record<string, string> = {
  "Memora Date": "/memora.png",
  "One Hunter Theme": "/oht.png",
  Spotigen: "/spotigen.png"
}
const bgImage = imageMap[title]
---

<section
  class="flex p-[1px] rounded-[20px] border border-white overflow-hidden relative w-full"
>
  <article
    class="p-[calc(1.5rem-1px)] rounded-lg text-white bg-card"
    style={{
      background: `linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(${bgImage})`,
      backgroundSize: "cover",
      backgroundPosition: "center",
      backgroundRepeat: "no-repeat"
    }}
  >
    <header class="flex items-center font-bold text-xl sm:text-3xl gap-1">
      <h1 class="flex gap-2 items-center">
        <slot />
        {title}
      </h1>
      <span class="font-normal text-xs sm:text-lg mt-1">~ {description}</span>
    </header>
    <div
      class="flex flex-col sm:flex-row justify-between items-center w-full h-full gap-10 mt-5"
    >
      <p class="text-white text-justify self-start w-full sm:w-2/3">
        {body}
      </p>
      <div class="flex sm:flex-col w-full sm:w-1/3 h-full gap-6 sm:gap-2">
        {
          link_demo && (
            <OssLink name="Live Demo" href={link_demo}>
              <Link />
            </OssLink>
          )
        }
        {
          link_repository && (
            <OssLink name="Github Repository" href={link_repository}>
              <Github />
            </OssLink>
          )
        }
      </div>
    </div>
  </article>
</section>
