---
import ServiceCard from "../components/service-card.astro"
import Title from "../components/shared/title.astro"
import Layout from "../layouts/layout.astro"
import GlowLogo from "../components/ui/svg/icons/glow-logo.astro"
import { largeServiceCards, smallServiceCards } from "../data/service-cards.ts"
---

<Layout title="Crafter Station | Services">
  <main class="flex justify-center items-center h-full w-full p-6">
    <article
      class="flex flex-col justify-center items-center gap-10 h-full w-[960px]"
    >
      <section class="flex flex-col gap-6">
        <Title name="Services" />
        <p class="text-xl text-white text-justify px-6">
          We are Crafter Station, and our mission is simple: to exceed your
          expectations. With tailored technological solutions, we aim not just
          to meet your immediate needs, but also to provide you with a lasting
          competitive edge.
        </p>
      </section>
      <section class="flex flex-col gap-8">
        <!--First two large cards -->
        {
          largeServiceCards
            .slice(0, 2)
            .map((card) => (
              <ServiceCard title={card.title} body={card.body} type="large" />
            ))
        }
        <!--Small cards -->
        <section class="grid grid-cols-1 sm:grid-cols-2 gap-8">
          {
            smallServiceCards.map((card) => (
              <ServiceCard title={card.title} body={card.body} type="small" />
            ))
          }
        </section>
        <!--Last large cards -->
        {
          largeServiceCards
            .slice(2)
            .map((card) => (
              <ServiceCard title={card.title} body={card.body} type="large" />
            ))
        }
      </section>
    </article>
  </main>
</Layout>
