---
import { Image } from "astro:assets"
import { Marquee } from "@/components/molecules/marquee"
import { getI18N } from "@/i18n/utils"
import { cn } from "@/lib/utils"
import Cube from "@/components/icons/cube.astro"
import StarFilledIcon from "@/components/icons/star-filled-icon.astro"

const { currentLocale } = Astro
const i18n = getI18N(currentLocale)

const items = Array.from({ length: 10 }, (_, i) => ({
  src: "/placeholder.svg",
  alt: `Image ${i}`,
  width: 467,
  height: 500,
}))
---

<main
  class="animate-fade-up flex flex-col items-center gap-16 min-h-screen px-4 bg-[#131313] text-white"
>
  <section class="text-center flex flex-col items-center gap-4">
    <p
      class="flex items-center w-fit gap-2 uppercase bg-stone-900 rounded-md px-4 py-1 text-sm font-semibold border border-stone-700 text-white/60"
    >
      <StarFilledIcon />
      <span class="pt-0.5">
        {i18n.HERO.DESIGN}
         +
        {i18n.HERO.ENGINEERING}
      </span>
      <StarFilledIcon />
    </p>
    <h1
      class="font-semibold text-4xl md:text-5xl leading-tight lg:text-7xl"
      set:html={i18n.HERO.WELCOME_TITLE}
    />
    <p class="text-xl text-white/60">
      {i18n.HERO.SUBTITLE}
    </p>
    <p class="text-xl text-white/60" set:html={i18n.HERO.DESCRIPTION} />
    <div class="flex space-x-4 justify-center py-4">
      <button
        class={cn(
          "relative inline-flex justify-center font-semibold gap-1 z-0",
          "outline-2 outline-offset-2 outline-neutral-900 dark:outline-neutral-50",
          "focus-visible:outline-2 focus-visible:outline",
          "[text-shadow:_0_1px_2px_rgb(0_0_0_/_15%)]",
          "transition-colors duration-200 ease-in-out",
          "bg-white text-black hover:bg-stone-300 after:from-stone-300",
          "after:[content:''] after:absolute after:rounded-[inherit] after:inset-0 after:z-[-1] after:border after:border-transparent",
          "after:bg-clip-content after:bg-inherit after:shadow-[inset_0_2px_3px_-1px_hsla(0,_0%,_100%,_0.5)]",
          "after:bg-gradient-to-b",
          "border border-stone-600 rounded-xl py-3 px-6",
        )}
      >
        {i18n.HERO.CALL_TO_ACTION_PRIMARY}
      </button>
      <button
        class="font-semibold border border-white py-3 px-6 rounded-xl hover:bg-white/10 transition-colors duration-200 ease-in-out"
      >
        {i18n.HERO.CALL_TO_ACTION_SECONDARY}
      </button>
    </div>
  </section>
  <section class="flex flex-col items-center gap-10">
    <span class="text-white/60 flex gap-2 justify-center">
      <Cube />
      <span class="text-lg font-semibold uppercase"
        >{i18n.HERO.RECENT_WORK}</span
      >
    </span>
    <Marquee client:load className="" speed="slow">
      {
        items.map((item, i) => (
          <li>
            <Image
              class="max-w-full rounded-lg border border-b-0 flex-shrink-0 border-slate-700"
              src={item.src}
              alt={item.alt}
              width={item.width}
              height={item.height}
            />
          </li>
        ))
      }
    </Marquee>
    <button
      class="font-semibold border w-fit border-white py-3 px-6 rounded-md hover:bg-white/10 transition-colors duration-200 ease-in-out"
    >
      {i18n.HERO.VIEW_RECENT_WORK}
    </button>
  </section>
</main>
